.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgb(61, 107, 216) 0%, rgb(154, 231, 223) 100%);
  border: none;
  border-radius: 20px;
  box-shadow: 12px 12px 24px rgba(51, 177, 164, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  }
.button-disabled{
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #121213;
  background: #5e706e;
  background: linear-gradient(90deg, rgb(74, 77, 85) 0%, rgb(106, 116, 115) 100%);
  border: none;
  border-radius: 20px;
  box-shadow: 12px 12px 24px rgba(51, 177, 164, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#button-disabled{
background-color: rgb(97, 92, 104);
color: black;
}

#button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #3290c7;
  box-shadow: 0 0 60px rgba(33, 75, 167, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

#button:hover::before, #button:focus::before {
  opacity: 1;
}

#button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #8ba3e7;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

#button:hover::after, #button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

@media only screen and (max-width: 1250px){
  .button{
    min-width: 150px;
    min-height: 40px;
    font-size: 12px;
  }
}