.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: rgb(221,82,41);
  background: linear-gradient(90deg, rgb(238, 69, 18) 0%, rgb(243, 215, 121) 100%);
  border: none;
  border-radius: 20px;
  box-shadow: 12px 12px 24px rgba(227, 164, 119, 0.615);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  }
.button-disabled{
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #121213;
  background: #706b5e;
  background: linear-gradient(90deg, rgb(74, 77, 85) 0%, rgb(106, 116, 115) 100%);
  border: none;
  border-radius: 20px;
  box-shadow: 12px 12px 24px rgba(214, 68, 31, 0.615);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #eb983a;
  box-shadow: 0 0 60px rgba(169, 138, 52, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover{
  height: 4em;
  width: 4em;
}
@media only screen and (max-width: 1250px){
  .button{
    min-width: 150px;
    min-height: 40px;
    font-size: 12px;
  }
  .button-disabled{
    min-width: 150px;
    min-height: 40px;
    font-size: 12px;
  }
  #button::before {
    min-width: calc(150px + 12px);
    min-height: calc(40px + 12px);  
  }
}