.logo{
  width: 100px; 
  height: 100px; 
  display: block; 
  text-indent: -9999px;
  cursor: pointer;
  margin-left: 50px;
}
  
  .wrap-image {
    position: relative;
    width: 100px;
    margin-left: 50px;

  }
  .wrap-image::before, .wrap-image::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: -1;
    border: 2px solid rgba(24, 14, 13, 0.733);
    transition: all 0.25s ease-out;
    margin-left: 50px;
  }
  .wrap-image::before {
    background-color: rgba(24, 14, 13, 0.733);
    top: -15px;
    left: -15px;
    margin-left: 50px;
  }
  .wrap-image::after {
    bottom: -15px;
    right: -15px;
    margin-left: 50px;

  }
  .wrap-image:hover::before {
    top: 15px;
    left: 15px;
    margin-left: 50px;

  }
  .wrap-image:hover::after {
    bottom: 15px;
    right: 15px;
    margin-left: 50px;

  }
  @media only screen and (max-width: 1250px){
    .logo{
      width: 60px;
      height: 60px;
    }
    .wrap-image{
      width: 60px;
    }
    .wrap-image::before, .wrap-image::after {
      width: 60px;
      height: 60px;  
    }
   }
   