.Volume_container{
    float: right;
    height: 50px;
    width: 50px;
}
.Volume_container{
    font-size: 3em;
}


@media only screen and (max-width: 1250px){
    .Volume_container{
        font-size: 2em;
    }
}
@media only screen and (max-width: 650px){
    .Volume_container{
        font-size: 1.2em;
    }
}