body{
  background-color: black;
}
.App {
  text-align: center;
}
.flexBox{
  min-width: 100vw;
}
.buttons > div{
  margin: 1%;
}
.buttons{
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.hidden{
  visibility: hidden;
}